{{ $appJS := resources.Get "js/app.js" }} {{ $js := slice $appJS |
resources.Concat "js/bundled.js" }} {{ $minify := $js | resources.Minify }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
<script src="{{ $minify.Permalink }}"></script>
<script>
document.querySelectorAll('.ticket__theater, .ticket__headline, .ticket__headline--long, .ticket__rating').forEach(el => {
  el.childNodes.forEach(node => {
    if (node.nodeType === Node.TEXT_NODE) {
      // Only replace Chinese characters in text nodes
      const replaced = node.textContent.replace(/([\u4e00-\u9fff\u3040-\u309f\u30a0-\u30ff])/g, '<span style="font-size:0.8em;">$1</span>');
      //const replaced = node.textContent.replace(/([\u4e00-\u9fff])/g, '<span style="font-size:0.8em;">$1</span>');
      if (replaced !== node.textContent) {
        // Replace the text node with HTML nodes
        const temp = document.createElement('span');
        temp.innerHTML = replaced;
        while (temp.firstChild) {
          el.insertBefore(temp.firstChild, node);
        }
        el.removeChild(node);
      }
    }
    // If node is an element (like visually-hide), do nothing
  });
});
</script>
